<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1>제목: <%= post.title %></h1>
          <p>작성자: <%= post.writer %></p>
          <h5>내용: <%= post.body %></h5>
        </div>
      </div>
    </div>
  </body>
</html>
